.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.kenangan-img {
  width: 100%;
}

#kenangan .row > * {
  padding: 0;
}
